/*   Example taken from http://bennettfeely.com/csscreatures/ made by someone */
.caption {
  margin-bottom: 2em;
  text-align: center;
}

/* Creature *************************************/
.creature {
  float: left;
  margin: 10px;
}

.creature figure {
  display: block;
  width: 200px;
  height: 200px;
  padding: 40px;
  box-shadow: inset -10px -30px rgba(0, 0, 0, .06);
  border-radius: 50%;
  /*-webkit-animation: bobble 5s ease-in-out infinite;
  animation: bobble 5s ease-in-out infinite;*/
  /*-webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s;*/
  text-align: center;
}


.creature .eye {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin: 0 5px 5px;
  background: rgba(0, 0, 0, .9);
  border-radius: 10px;
  border-radius: 50%;
}

.creature .mouth {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin: 5px auto 0;
  background: rgba(0, 0, 0, .9);
  border-radius: 10px 10px 100px 100px;
  border-radius: 10px 10px 50% 50%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

/* Creature-red ***************************************/
.creature-red figure {
  background-color: red;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: padding .3s, bottom .3s;
  transition: padding .3s, bottom .3s;
}
.creature.creature-red .eye {
 -webkit-animation: blink 4s ease-in-out infinite;
  animation: blink 4s ease-in-out infinite;
}
.creature-red .mouth {
  -webkit-transition: border-radius .5s, height .5s cubic-bezier(.15, .60, .30, 1.9);
  transition: border-radius .5s, height .5s cubic-bezier(.15, .60, .30, 1.9);
}

.creature-red .tooth:after {
  display: inline-block;
  content: "";
  margin: 0 2px;
  margin-right: 17px;
  width: 15px;
  height: 15px;
  background: #eee;
}

.creature-red .hyper .mouth {
  height: 80px;
  border-radius: 20px 20px 50% 50%;
}
/* Creature-red ***************************************/
.creature-green figure {
  background: green;
}

/* Animations *****************************************/

/* Hyper */
.creature .hyper {
  -webkit-animation: hyper 2s infinite;
  animation: hyper 2s infinite;
}

@-webkit-keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15%,
  50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }
  75% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes hyper {
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15%,
  50% {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }
  75% {
    -webkit-transform: none;
    transform: none;
  }
}

/* Gladly rotate */

.creature .gladly-rotate {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-transform: translateZ(0);
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateThis {
  from { -webkit-transform:rotate(0deg); }
  to { -webkit-transform:rotate(360deg); }
}